
<div class="container">
<div class="row">
  <div class="col-lg-6 col-md-offset-3">
      <h1 class="space-top text-center">Signup</h1>

    {{#if message }}
    <div class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ message  }}
    </div>
    {{/if}}

      <hr />

      <form role="form" method="post">

        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" name="email">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" name="password">
        </div>
         <div class="form-group">
          <label for="contact_num">Contact Number:</label>
          <input type="text" class="form-control" name="contact_num">
        </div>
         <div class="form-group">
          <label for="Instagram">Instagram Art Profile:</label>
          <input type="url" class="form-control" name="Instagram">
        </div> <div class="form-group">
          <label for="Behance">Behance:</label>
          <input type="url" class="form-control" name="Behance">
        </div> <div class="form-group">
          <label for="Linkedin">Linkedin:</label>
          <input type="url" class="form-control" name="Linkedin">
        </div> <div class="form-group">
          <label for="Wordpress">Wordpress:</label>
          <input type="url" class="form-control" name="Wordpress">
        </div> <div class="form-group">
          <label for="Other">Other:</label>
          <input type="url" class="form-control" name="Other">
        </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
    <hr />

  </div>
</div>
</div>
